<h1>Tasks</h1>

<%= form_tag(tasks_path, method: :get) do %>
   <%= text_field_tag :term, params[:term] %>
   <%= submit_tag 'Search', name: nil %>
<% end %>

<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
	<tr>
	  <% for task in @tasks %>
		<div class='task'>
			<strong> <%= task.name %> </strong>
		</div>
		<%= link_to 'Edit', edit_task_path(task) %>
	  <% end %>
	 </tr>		 
  </tbody>
</table>