<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @task.complete %>
</p>

<h2>Comments</h2>
<% for comment in @comments %>
<p><%= comment.content %></p>
<% end %>

<%= form_for(Comment.new, url: task_comments_path(@task)) do |f| %>
<p>
	<%= f.text_area :content, rows: 7 %>
</p>
<p>
	<%= submit_tag 'Add Comment' %>
</p>
<% end %>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
