<!DOCTYPE html>
<html>
  <head>
    <title> MyComm Site - <%= content_for?(:title) ? yield(:title) : 'The Biggest Online Store on Earth' %> </title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <% flash.each do |key, msg| %>
  	<%= content_tag :div, msg, id: key %>
  <% end %>

  <body>
	 <div id='container'>
		 <h1></h1>
	 	    <%= yield %>
	 </div>
  </body>
    
</html>
